<!-- ニュースのテンプレート
<table id="tabledata" width="100%" cellspacing="0" cellpadding="0" class="span3 picture-item" data-groups='["部門名"]' data-date-created="日付">
<tr><td> <div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title">題名</h3> </div> <div class="panel-body"> 内容を書く </div> </div> </td></tr> </table> -->
<div class="box">
  <ul id="grid" class="row-fluid">
    <!--- ここより下にNEWSを追記する--->

<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiPPro]' data-date-created='2017-03''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiPPro『RUPC(Ritsumeikan University Programing Contest)2017を開催しました。』(2017/03)</h3>
            </div>
            <div class='panel-body'>2017年3月22日(水)～24(金)に開催しました。<br>RUPCの詳細は<a href='http://rippro.org/event/ritscamp2017/index.html'>こちら</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiPPro]' data-date-created='2016-03''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiPPro『RUPC(Ritsumeikan University Programing Contest)2016を開催しました。』(2016/03)</h3>
            </div>
            <div class='panel-body'>2016年3月6日(日)～8(水)に開催しました。<br>RUPCの詳細は<a href='http://rippro.org/event/ritscamp2016/index.html …'>こちら</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[Ri-one]' data-date-created='2016-03''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ri-one『RoboCupJapanOpen2016』(2016/03)</h3>
            </div>
            <div class='panel-body'>今年は愛知県でのJapan Openでした。 レスキューリーグが優勝し、サッカーリーグは準優勝でした。<br>7月に世界大会があるのでよい成績を残せるように引き続き活動を行って行きます。<br>Rescue Simulation League ： 優勝<br>2D Soccer Simulation League ： 準優勝
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiG++]' data-date-created='2015-11''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiG++『立命館大学学園祭にて展示を行います！』(2015/10)</h3>
            </div>
            <div class='panel-body'>2015年11月15日(日)に行われる本大学の学園祭にて展示を行います！<br>場所はプリズムハウスP109で12:00～17:00ぐらいでやってます！是非お立ち寄りください
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiG++]' data-date-created='2015_10''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiG++『本部門DTM課がM3に出展します！！』(2015/10)</h3>
            </div>
            <div class='panel-body'>2015年10月25日(日)に行われる音系・メディアミックス同人即売会　M3にて展示を行います！<br>是非お立ち寄りください
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[PJ団体]' data-date-created='2015-08''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>PJ団体『オープンキャンパスにて展示を行います！』(2015/07)</h3>
            </div>
            <div class='panel-body'>8月1日,2日に行われる、立命館大学BKCキャンパスのオープンキャンパスにて3部門合同で展示を行います！興味がある方は是非お立ち寄りください！<br>オープンキャンパスの詳細は<br><A Href='https://ritsnet.ritsumei.jp/event/oc.html'>こちら</A>
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[Ri-one]' data-date-created='2015-07''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ri-one『RoboCup2015 世界大会』(2015/07)</h3>
            </div>
            <div class='panel-body'>今年は中国での世界大会でした. 来年は優勝できるように, 今年度も引き続き頑張って活動します!!<br>Rescue Simulation League ： 9位<br>2D Soccer Simulation League ： 9位
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiG++]' data-date-created='2015-07''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiG++『本部門で製作中のアプリゲームがアプリゲットさんに掲載されました！』(2015/07)</h3>
            </div>
            <div class='panel-body'>BitSummit で展示させていただいていた本部員が鋭意制作中の音楽ゲームアプリ(タイトル未定)がアプリゲットさんに掲載されました。<br>記事は <A Href='http://appget.com/c/news/appli/115509/bitsummit2015/'>こちら</A>
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiG++]' data-date-created='2015-06''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiG++『BITSUMMIT 2015 京都インディーズゲームフェスティバル』(2015/06)</h3>
            </div>
            <div class='panel-body'>BITSUMMIT 2015 京都インディーズゲームフェスティバル』への出展が決定しました!!<br>詳しくは<A Href='http://bitsummit.org/2015-coming-soon/'>こちら</A>
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[Ri-one]' data-date-created='2015-05''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ri-one『RoboCupJapanOpen2015』(2015/05)</h3>
            </div>
            <div class='panel-body'>今年は福井県での日本大会でした。 参加した両リーグで優勝を収めることが出来ました。<br>来年以降も優勝を取れるように引き続き活動を行って行きます。<br>Rescue Simulation League ： 優勝<br>2D Soccer Simulation League ： 優勝
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[PJ団体]' data-date-created='2015-03''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>PJ団体『プロジェクト団体の部室移転』(2015/3)</h3>
            </div>
            <div class='panel-body'>ロジェクト団体の部室が2015年度より移転になりました.<br>移転先は立命館大学BKCキャンパスバイオリンク1Fサークルルーム9になります.<br>お間違えの無いようによろしくお願いします.
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiPPro]' data-date-created='2014-10''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiPPro『ACM-ICPC アジア地区予選東京大会』(2014/10)</h3>
            </div>
            <div class='panel-body'>弊部門OBが参加したチームが出場し，32位でした.<br>来年は現役チームも国内予選通過できるように, 今年度も引き続き頑張って活動します!!
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[Ri-one]' data-date-created='2013-07''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ri-one『RoboCup2014 世界大会』(2014/7)</h3>
            </div>
            <div class='panel-body'>今年はブラジルでの世界大会でした. 来年は優勝できるように, 今年度も引き続き頑張って活動します!!<br>Rescue Simulation League ： 8位<br>2D Soccer Simulation League ： 11位
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[Ri-one]' data-date-created='2013-07''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ri-one『RoboCup2013 世界大会』(2013/7)</h3>
            </div>
            <div class='panel-body'>今年はオランダでの世界大会でした. 来年は優勝できるように, 今年度も引き続き頑張って活動します!!<br>Rescue Simulation League ： 9位<br>2D Soccer Simulation League
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[Ri-one]' data-date-created='2012-07''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>Ri-one『RoboCup2012 世界大会』(2012/7)</h3>
            </div>
            <div class='panel-body'>今年はメキシコシティでの世界大会でした. 結果は見事Rescue Simulation Leagueにて優勝を勝ち取ることができました!!<br>来年は両リーグとも優勝できるように, 今年度も引き続き頑張って活動します!!<br>Rescue Simulation League ： 1位<br>2D Soccer Simulation League ： 15位
            </div>
          </div>
        </td>
      </tr>
    </table>
    
<table id='tabledata' width='100%'' class='span3 picture-item' data-groups='[RiPPro]' data-date-created='2013-05-01''>
      <tr>
        <td>
          <div class='panel panel-info'>
            <div class='panel-heading'>
              <h3 class='panel-title'>RiPPro『ACM-ICPC アジア地区予選大会』(2011/11)</h3>
            </div>
            <div class='panel-body'>弊部門OBが参加したチームが出場し，10位でした.<br><br>来年は現役チームも国内予選通過できるように, 今年度も引き続き頑張って活動します!!<br>
            </div>
          </div>
        </td>
      </tr>
    </table>
    

  </ul>
</div>
<script> //フィルタリングソートファンク $(document).ready(function() { var $grid = $('#grid'); $grid.shuffle({ itemSelector: '.picture-item', group: 'all', speed: 300, easing: 'ease-in-out' }); $('#btn li').on('click', function() { var $this = $(this), group = $this.data('group'); $('#btn .active').removeClass('active'); $this.addClass('active'); if(group != 'all'){ $grid.shuffle('shuffle', function($el, shuffle) { return group.indexOf($el.data('groups')) > -1 }); }else{ $grid.shuffle( 'shuffle', 'all' ); } }); }); </script>
