<!-- ニュースのテンプレート
<table id="tabledata" width="100%" cellspacing="0" cellpadding="0" class="span3 picture-item" data-groups='["部門名"]' data-date-created="日付">
<tr><td> <div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title">題名</h3> </div> <div class="panel-body"> 内容を書く </div> </div> </td></tr> </table> -->
<div class="box">
  <ul id="grid" class="row-fluid">
    <!--- ここより下にNEWSを追記する--->

    <% yield %>

  </ul>
</div>
<script> //フィルタリングソートファンク $(document).ready(function() { var $grid = $('#grid'); $grid.shuffle({ itemSelector: '.picture-item', group: 'all', speed: 300, easing: 'ease-in-out' }); $('#btn li').on('click', function() { var $this = $(this), group = $this.data('group'); $('#btn .active').removeClass('active'); $this.addClass('active'); if(group != 'all'){ $grid.shuffle('shuffle', function($el, shuffle) { return group.indexOf($el.data('groups')) > -1 }); }else{ $grid.shuffle( 'shuffle', 'all' ); } }); }); </script>